@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #fbfbfb;
    color: #0f0f0f;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }
}

@layer components {
  .reveal {
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
  }

  .reveal.active {
    opacity: 1;
    transform: translateY(0);
  }

  .stroke-text {
    -webkit-text-stroke: 1px #0f0f0f;
    color: transparent;
  }
}

::selection {
  background: #b29762;
  color: white;
}

h1,
h2,
h3 {
  letter-spacing: -0.03em;
}

p {
  letter-spacing: 0.01em;
}
